::-webkit-scrollbar {
    display: none;
}

body {

    background-color: #F2F2F2;
}

.beginning {
    background-color: #F2F2F2;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


#enter {
    
    background: url(cover.png) no-repeat ;
    background-size: contain;
    background-position: center;
    border: none;
    width: 500px;
}

#enter:hover {
    transition: 300ms;
    background: url(journal.png) no-repeat;
    background-size: contain;
    background-position: center;
}
#enter img{
    width: 1000px;
    opacity: 0%;
}
